<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <div class="navigation-links-container">
      <a href="index.html" class="navigation-links-navlink">Home</a>
      <a href="galery.html" class="navigation-links-navlink1">Galerie</a>
      <a href="band.html" class="navigation-links-navlink2">O kapele</a>
      <a href="contact.html" class="navigation-links-navlink3">Kontakt</a>
      <a href="concerts.html" class="navigation-links-navlink4">Koncerty</a>
    </div>
  </nav>
</div>
